### Actual Code Starts:

In [ ]:
# options = webdriver.FirefoxOptions()
# options.add_argument("--headless")
# driver = webdriver.Firefox(options=options)


# # driver.get('https://www.prokabaddi.com/stats/0-102-player-total-points-statistics') ALL-SEASONS
# driver.get("https://www.prokabaddi.com/stats/44-96-team-total-points-statistics")

# element = driver.find_element(By.CLASS_NAME, "loadmore")
# for i in range(21):
#     # element[0].click()
#     driver.execute_script("arguments[0].click();", element)

# soup = BeautifulSoup(driver.page_source)


# # for item in soup.find_all("div",class_="sipk-lb-playerName"):
# #     print("hello")
# #     [elem.extract() for elem in soup.find("div")]
# #     f = open("parsed.txt", "a")
# #     f.write(item.text)

# #     f.close()
# # playerDetails = pd.read_csv('parsed.txt',encoding='ISO-8859-1',sep='\t',names=['playerName'])
# # print(playerDetails)


# for info in soup.find_all("div", class_="info-name"):

#     first_name_elem = info.find("p", class_="name first-name")
#     last_name_elem = info.find("p", class_="name last-name")

#     if first_name_elem and last_name_elem:
#         first_name = first_name_elem.text.strip()
#         last_name = last_name_elem.text.strip()
#         full_name = f"{first_name} {last_name}"

#         # Write the player's full name to parsed.txt
#         with open("parsed.txt", "a") as f:
#             f.write(full_name + "\n")


# # Load the extracted names into a DataFrame
# playerDetails = pd.read_csv("parsed.txt", encoding="ISO-8859-1", names=["playerName"])
# if os.path.exists("parsed.txt"):
#     os.remove("parsed.txt")

In [ ]:
# print(playerDetails)

In [ ]:
dfObj = pd.DataFrame(data=[])
dfObj["PlayerName"] = playerDetails[playerDetails.columns[0]]
dfObj

In [ ]:
soup = BeautifulSoup(driver.page_source)


for item in soup.find_all("div", class_="table-data matches-played"):
    [elem.extract() for elem in soup.find("div")]
    file = open("parsed.txt", "a")
    if item.text == "Matches Played":
        continue
    file.write(item.text)
    file.write("\n")
    # print(item.text)

    file.close()
playerDetails = pd.read_csv(
    "parsed.txt", encoding="ISO-8859-1", sep="\t", names=["MatchesPlayed"]
)

playerDetails

In [ ]:
playerDetails

In [ ]:
dfObj["MatchesPlayed"] = playerDetails[playerDetails.columns[0]]
dfObj

In [ ]:
if os.path.exists("parsed.txt"):
    os.remove("parsed.txt")

In [ ]:
soup = BeautifulSoup(driver.page_source)
for item in soup.find_all("div", class_="table-data rank"):
    [elem.extract() for elem in soup.find("div")]
    file = open("parsed.txt", "a")

    if item.text == "#":
        continue
    file.write(item.text)
    file.write("\n")

    file.close()
playerDetails = pd.read_csv(
    "parsed.txt", encoding="ISO-8859-1", sep="\t", names=["Rank"]
)


if os.path.exists("parsed.txt"):
    os.remove("parsed.txt")

In [ ]:
dfObj["Rank"] = playerDetails[playerDetails.columns[0]]
dfObj

In [ ]:
soup = BeautifulSoup(driver.page_source)
for item in soup.find_all("div", class_="category"):
    [elem.extract() for elem in soup.find("div")]
    file = open("parsed.txt", "a")
    if item.text:
        file.write(item.text)

    else:
        file.write("NA")
    # file.write(item.text)
    file.write("\n")

    file.close()
playerDetails = pd.read_csv(
    "parsed.txt", encoding="ISO-8859-1", sep="\t", names=["PlayerProfile"]
)

playerDetails

In [ ]:
import os

if os.path.exists("parsed.txt"):
    os.remove("parsed.txt")

In [ ]:
# dfObj["PlayerProfile"] = playerDetails[playerDetails.columns[0]]
# dfObj

In [ ]:
# soup = BeautifulSoup(driver.page_source)
# for item in soup.find_all("div", class_="table-data total-points"):
#     [elem.extract() for elem in soup.find("div")]
#     file = open("parsed.txt", "a")
#     if item.text == "Total Points":
#         continue
#     else:
#         file.write(item.text)

#     file.write("\n")

#     file.close()
# playerDetails = pd.read_csv(
#     "parsed.txt", encoding="ISO-8859-1", sep="\t", names=["TotalPoints"]
# )
# print(playerDetails)

# import os

# if os.path.exists("parsed.txt"):
#     os.remove("parsed.txt")

In [ ]:
# dfObj["TotalPoints"] = playerDetails[playerDetails.columns[0]]
# dfObj

In [ ]:
# dfObj.describe()

In [ ]:
# dfObj.to_csv("season10_total-points-statistics.csv")

## terrible code is above. now writing better code

In [3]:
import pandas as pd
import json
import re


def extract_json_from_script(script_content):
    # Find the JSON data within the script
    start = script_content.find("window.statsWidgetData = ")
    if start == -1:
        return None
    start += len("window.statsWidgetData = ")

    # Find the end of the JSON object
    bracket_count = 0
    end = start
    for i, char in enumerate(script_content[start:]):
        if char == "{":
            bracket_count += 1
        elif char == "}":
            bracket_count -= 1
            if bracket_count == 0:
                end = start + i + 1
                break

    if bracket_count != 0:
        return None

    json_str = script_content[start:end]

    # Parse the JSON data
    try:
        return json.loads(json_str)
    except json.JSONDecodeError:
        return None


# Extract JSON data from the script content
json_data = extract_json_from_script(script_content)
if json_data is None:
    print("Error: Could not extract JSON data from the file.")
    exit(1)

# Extract the team data
team_data = json_data["stats"]["data"]

# Create a DataFrame
df = pd.DataFrame(team_data)

# Convert 'value' and 'match_played' to numeric type
df["value"] = pd.to_numeric(df["value"])
df["match_played"] = pd.to_numeric(df["match_played"])

# Calculate points per match
df["points_per_match"] = df["value"] / df["match_played"]

# Display basic information about the DataFrame
print(df.info())

# Display the first few rows
print(df.head())

# Basic statistics
print(df.describe())

# Top teams by total points
top_teams = df.sort_values("value", ascending=False)
print("\nTeams ranked by total points:")
print(top_teams[["team_name", "value", "match_played"]])

# Top 5 teams by points per match
top_scoring_teams = df.sort_values("points_per_match", ascending=False).head(5)
print("\nTop 5 teams by points per match:")
print(top_scoring_teams[["team_name", "points_per_match", "match_played", "value"]])

# Correlation between matches played and total points
correlation = df["match_played"].corr(df["value"])
print(f"\nCorrelation between matches played and total points: {correlation:.2f}")

# Calculate the average points per match for all teams
avg_points_per_match = df["points_per_match"].mean()
print(f"\nAverage points per match across all teams: {avg_points_per_match:.2f}")

# Teams above and below average
above_average = df[df["points_per_match"] > avg_points_per_match]
below_average = df[df["points_per_match"] <= avg_points_per_match]

print("\nTeams performing above average:")
print(above_average[["team_name", "points_per_match"]])

print("\nTeams performing below average:")
print(below_average[["team_name", "points_per_match"]])

# Save the DataFrame to a CSV file
df.to_csv("season10_team_total_points_statistics.csv", index=False)
print("\nData has been saved to 'season10_team_total_points_statistics.csv'")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   match_played      12 non-null     int64
 1   value             12 non-null     int64
 2   team_id           12 non-null     int64
 3   team_name         12 non-null     object
 4   rank              12 non-null     object
 5   points_per_match  12 non-null     float64
dtypes: float64(1), int64(3), object(2)
memory usage: 704.0+ bytes
None
   match_played  value  team_id             team_name rank  points_per_match
0            24    950        7         Puneri Paltan    1         39.583333
1            25    920       28      Haryana Steelers    2         36.800000
2            24    874        6         Patna Pirates    3         36.416667
3            23    843        3  Jaipur Pink Panthers    4         36.652174
4            22    832       29       Tamil Thalaivas    5         37.818182
       match_played       value    team_id  points_per_match
count     12.000000   12.000000  12.000000         12.000000
mean      22.833333  821.833333  12.833333         35.957477
std        1.029857   69.224054  12.481501          1.928350
min       22.000000  734.000000   1.000000         33.363636
25%       22.000000  774.500000   3.750000         34.041008
50%       22.500000  824.500000   6.500000         36.299242
75%       23.250000  850.750000  28.250000         36.918182
max       25.000000  950.000000  31.000000         39.583333

Teams ranked by total points:
               team_name  value  match_played
0          Puneri Paltan    950            24
1       Haryana Steelers    920            25
2          Patna Pirates    874            24
3   Jaipur Pink Panthers    843            23
4        Tamil Thalaivas    832            22
5      Dabang Delhi K.C.    829            23
6        Bengal Warriors    820            22
7                U Mumba    796            22
8         Gujarat Giants    785            23
9           U.P. Yoddhas    743            22
10         Telugu Titans    736            22
11       Bengaluru Bulls    734            22

Top 5 teams by points per match:
              team_name  points_per_match  match_played  value
0         Puneri Paltan         39.583333            24    950
4       Tamil Thalaivas         37.818182            22    832
6       Bengal Warriors         37.272727            22    820
1      Haryana Steelers         36.800000            25    920
3  Jaipur Pink Panthers         36.652174            23    843

Correlation between matches played and total points: 0.82

Average points per match across all teams: 35.96

Teams performing above average:
              team_name  points_per_match
0         Puneri Paltan         39.583333
1      Haryana Steelers         36.800000
2         Patna Pirates         36.416667
3  Jaipur Pink Panthers         36.652174
4       Tamil Thalaivas         37.818182
5     Dabang Delhi K.C.         36.043478
6       Bengal Warriors         37.272727
7               U Mumba         36.181818

Teams performing below average:
          team_name  points_per_match
8    Gujarat Giants         34.130435
9      U.P. Yoddhas         33.772727
10    Telugu Titans         33.454545
11  Bengaluru Bulls         33.363636

Data has been saved to 'season10_team_total_points_statistics.csv'

In [ ]:
import pandas as pd
import json
import re
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.firefox.options import Options
from bs4 import BeautifulSoup
import time


def extract_json_from_script(script_content):
    # Find the JSON data within the script
    start = script_content.find("window.statsWidgetData = ")
    if start == -1:
        return None
    start += len("window.statsWidgetData = ")

    # Find the end of the JSON object
    bracket_count = 0
    end = start
    for i, char in enumerate(script_content[start:]):
        if char == "{":
            bracket_count += 1
        elif char == "}":
            bracket_count -= 1
            if bracket_count == 0:
                end = start + i + 1
                break

    if bracket_count != 0:
        return None

    json_str = script_content[start:end]

    # Parse the JSON data
    try:
        return json.loads(json_str)
    except json.JSONDecodeError:
        return None


def fetch_and_process_data(url):
    options = webdriver.FirefoxOptions()
    options.add_argument("--headless")
    driver = webdriver.Firefox(options=options)

    try:
        driver.get(url)

        # # Click the 'loadmore' button multiple times
        # for i in range(21):
        #     try:
        #         element = WebDriverWait(driver, 10).until(
        #             EC.presence_of_element_located((By.CLASS_NAME, 'loadmore'))
        #         )
        #         driver.execute_script("arguments[0].click();", element)
        #         time.sleep(1)  # Wait for content to load
        #     except:
        #         print(f"Stopped after {i} clicks")
        #         break

        # Extract the script content
        soup = BeautifulSoup(driver.page_source)
        # print(soup)
        script_tag = soup.find(
            "script", string=lambda text: text and "window.statsWidgetData" in text
        )

        # print(script_tag)

        # script_content = script_tag

        # json_data = extract_json_from_script(script_content)

        if script_tag:
            json_data = extract_json_from_script(script_tag.string)
            if json_data:
                player_data = json_data["stats"]["data"]
                df = pd.DataFrame(player_data)

                # Convert 'value' and 'match_played' to numeric type
                df["value"] = pd.to_numeric(df["value"])
                df["match_played"] = pd.to_numeric(df["match_played"])

                # Calculate points per match
                df["points_per_match"] = df["value"] / df["match_played"]

                return df

    finally:
        driver.quit()

    return None


# URL of the webpage
url = "https://www.prokabaddi.com/stats/44-22-raid-points-statistics"

# Fetch and process data
df = fetch_and_process_data(url)

if df is not None:
    # Display basic information about the DataFrame
    print(df.info())

    # Display the first few rows
    print(df.head())

    # Basic statistics
    print(df.describe())

    # Top 10 players by total points
    top_10_players = df.sort_values("value", ascending=False).head(10)
    print("\nTop 10 players by total points:")
    print(top_10_players[["player_name", "value", "team_name"]])

    # Top 5 players by points per match (minimum 10 matches played)
    top_players = (
        df[df["match_played"] >= 10]
        .sort_values("points_per_match", ascending=False)
        .head(5)
    )
    print("\nTop 5 players by points per match (minimum 10 matches):")
    print(top_players[["player_name", "points_per_match", "match_played", "team_name"]])

    # Team performance
    team_performance = (
        df.groupby("team_name")["value"].sum().sort_values(ascending=False)
    )
    print("\nTeam performance (total points):")
    print(team_performance)

    # Position-wise analysis
    position_analysis = df.groupby("position_name")["value"].agg(
        ["sum", "mean", "count"]
    )
    print("\nPosition-wise analysis:")
    print(position_analysis)

    # Correlation between matches played and total points
    correlation = df["match_played"].corr(df["value"])
    print(f"\nCorrelation between matches played and total points: {correlation:.2f}")
else:
    print("Failed to fetch or process data from the webpage.")

df.to_csv("season10_raid-points-statistics.csv")

# this is the main script, run this!!!!!, everything else was building up to this!

In [7]:
import pandas as pd
import json
import re
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.firefox.options import Options
from bs4 import BeautifulSoup
import time

d = {
    "s-10": "44",
    "s-9": "25",
    "s-8": "20",
    "s-7": "11",
    "s-6": "10",
    "s-5": "8",
    "s-4": "4",
    "s-3": "3",
    "s-2": "2",
    "s-1": "1",
    "s-all": "0",
}


def extract_json_from_script(script_content):
    start = script_content.find("window.statsWidgetData = ")
    if start == -1:
        return None
    start += len("window.statsWidgetData = ")

    bracket_count = 0
    end = start
    for i, char in enumerate(script_content[start:]):
        if char == "{":
            bracket_count += 1
        elif char == "}":
            bracket_count -= 1
            if bracket_count == 0:
                end = start + i + 1
                break

    if bracket_count != 0:
        return None

    json_str = script_content[start:end]

    try:
        return json.loads(json_str)
    except json.JSONDecodeError:
        return None


def fetch_and_process_data(url):
    options = webdriver.FirefoxOptions()
    options.add_argument("--headless")
    driver = webdriver.Firefox(options=options)

    try:
        driver.get(url)

        # We don't need to click "Load More" for team stats, as all teams are usually shown on one page

        soup = BeautifulSoup(driver.page_source, "html.parser")
        script_tag = soup.find(
            "script", string=lambda text: text and "window.statsWidgetData" in text
        )

        if script_tag:
            json_data = extract_json_from_script(script_tag.string)
            if json_data:
                team_data = json_data["stats"]["data"]
                df = pd.DataFrame(team_data)

                df["value"] = pd.to_numeric(df["value"])
                df["match_played"] = pd.to_numeric(df["match_played"])

                df["points_per_match"] = df["value"] / df["match_played"]

                return df, json_data["stats"]["stat"]

    finally:
        driver.quit()

    return None, None


urls = [
    f'https://www.prokabaddi.com/stats/{d["s-10"]}-96-total-points-scored-statistics',
    f'https://www.prokabaddi.com/stats/{d["s-10"]}-14-team-raid-statistics',
    f'https://www.prokabaddi.com/stats/{d["s-10"]}-17-team-successful-raid-percent-statistics',
    f'https://www.prokabaddi.com/stats/{d["s-10"]}-18-team-successful-tackles-per-match-statistics',
    f'https://www.prokabaddi.com/stats/{d["s-10"]}-19-team-successful-tackle-percent-statistics',
    f'https://www.prokabaddi.com/stats/{d["s-10"]}-133-total-points-conceded-statistics',
    f'https://www.prokabaddi.com/stats/{d["s-10"]}-140-avg-points-scored-statistics',
    f'https://www.prokabaddi.com/stats/{d["s-10"]}-13-successful-raids-statistics',
    f'https://www.prokabaddi.com/stats/{d["s-10"]}-97-raid-points-statistics',
    f'https://www.prokabaddi.com/stats/{d["s-10"]}-98-avg-raid-points-statistics',
    f'https://www.prokabaddi.com/stats/{d["s-10"]}-15-successful-tackles-statistics',
    f'https://www.prokabaddi.com/stats/{d["s-10"]}-95-tackle-points-statistics',
    f'https://www.prokabaddi.com/stats/{d["s-10"]}-99-avg-tackle-points-statistics',
    f'https://www.prokabaddi.com/stats/{d["s-10"]}-134-super-raid-statistics',
    f'https://www.prokabaddi.com/stats/{d["s-10"]}-20-super-tackles-statistics',
    f'https://www.prokabaddi.com/stats/{d["s-10"]}-135-do-or-die-raid-points-statistics',
    f'https://www.prokabaddi.com/stats/{d["s-10"]}-136-all-outs-inflicted-statistics',
    f'https://www.prokabaddi.com/stats/{d["s-10"]}-137-all-outs-conceded-statistics',
]

x = 0
for url in urls:
    x += 1
    df, stat_name = fetch_and_process_data(url)
    if df is not None:
        # Create a file name based on the statistic
        file_name = f"{x}_df_team_season10_{stat_name.lower().replace(' ', '-')}.csv"

        # Export the DataFrame to CSV
        df.to_csv(file_name, index=False)
        print(f"Exported {file_name}")

        # Display basic information about the DataFrame
        print(f"\nStatistic: {stat_name}")
        print(df.info())

        # Display the first few rows
        print(df.head())

        # Basic statistics
        print(df.describe())

        # Team rankings
        team_rankings = df.sort_values("value", ascending=False)
        print(f"\nTeam rankings by {stat_name}:")
        print(team_rankings[["team_name", "value", "match_played"]])

        # Top 5 teams by points per match
        top_teams_per_match = df.sort_values("points_per_match", ascending=False).head(
            5
        )
        print(f"\nTop 5 teams by {stat_name} per match:")
        print(
            top_teams_per_match[
                ["team_name", "points_per_match", "match_played", "value"]
            ]
        )

        # Correlation between matches played and the statistic
        correlation = df["match_played"].corr(df["value"])
        print(
            f"\nCorrelation between matches played and {stat_name}: {correlation:.2f}"
        )

        # Calculate league average
        league_avg = df["points_per_match"].mean()
        print(f"\nLeague average {stat_name} per match: {league_avg:.2f}")

        # Teams above and below league average
        above_avg = df[df["points_per_match"] > league_avg]
        below_avg = df[df["points_per_match"] <= league_avg]

        print("\nTeams above league average:")
        print(above_avg[["team_name", "points_per_match"]])

        print("\nTeams below league average:")
        print(below_avg[["team_name", "points_per_match"]])

        print("\n" + "=" * 50 + "\n")
    else:
        print(f"Failed to fetch or process data from {url}")

JSON data saved to data.json

In [11]:
import os
import pandas as pd
import json
import re
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.firefox.options import Options
from bs4 import BeautifulSoup
import time

    # "s-9": "25", 
    # "s-8": "20",
    # "s-10": "44", 

d = {

    "s-7": "11",
    "s-6": "10",
    "s-5": "8",
    "s-4": "4",
    "s-3": "3",
    "s-2": "2",
    "s-1": "1",
    "s-all": "0",
}

for k, v in d.items():

    def extract_json_from_script(script_content):
        start = script_content.find('window.statsWidgetData = ')
        if start == -1:
            return None
        start += len('window.statsWidgetData = ')
        
        bracket_count = 0
        end = start
        for i, char in enumerate(script_content[start:]):
            if char == '{':
                bracket_count += 1
            elif char == '}':
                bracket_count -= 1
                if bracket_count == 0:
                    end = start + i + 1
                    break
        
        if bracket_count != 0:
            return None
        
        json_str = script_content[start:end]
        
        try:
            return json.loads(json_str)
        except json.JSONDecodeError:
            return None

    def fetch_and_process_data(url):
        options = webdriver.FirefoxOptions()
        options.add_argument("--headless")
        driver = webdriver.Firefox(options=options)
        
        try:
            driver.get(url)
            
            # We don't need to click "Load More" for team stats, as all teams are usually shown on one page
            
            soup = BeautifulSoup(driver.page_source, 'html.parser')
            script_tag = soup.find('script', string=lambda text: text and 'window.statsWidgetData' in text)
            
            if script_tag:
                json_data = extract_json_from_script(script_tag.string)
                if json_data:
                    try:
                        team_data = json_data['stats']['data']
                        df = pd.DataFrame(team_data)
                        
                        df['value'] = pd.to_numeric(df['value'])
                        df['match_played'] = pd.to_numeric(df['match_played'])
                        
                        df['points_per_match'] = df['value'] / df['match_played']
                        
                        return df, json_data['stats']['stat']
                    
                    except KeyError as e:
                        print(f"KeyError: {e} - The 'stats' key is missing or malformed in the data from {url}. Skipping this URL.")
                        return None, None
        
        except Exception as e:
            print(f"An error occurred while processing the URL {url}: {str(e)}")
        
        finally:
            driver.quit()
        
        return None, None


    urls = [
        f'https://www.prokabaddi.com/stats/{d[k]}-96-total-points-scored-statistics',
        f'https://www.prokabaddi.com/stats/{d[k]}-14-team-raid-statistics',
        f'https://www.prokabaddi.com/stats/{d[k]}-17-team-successful-raid-percent-statistics',
        f'https://www.prokabaddi.com/stats/{d[k]}-18-team-successful-tackles-per-match-statistics',
        f'https://www.prokabaddi.com/stats/{d[k]}-19-team-successful-tackle-percent-statistics',
        f'https://www.prokabaddi.com/stats/{d[k]}-133-total-points-conceded-statistics',
        f'https://www.prokabaddi.com/stats/{d[k]}-140-avg-points-scored-statistics',
        f'https://www.prokabaddi.com/stats/{d[k]}-13-successful-raids-statistics',
        f'https://www.prokabaddi.com/stats/{d[k]}-97-raid-points-statistics',
        f'https://www.prokabaddi.com/stats/{d[k]}-98-avg-raid-points-statistics',
        f'https://www.prokabaddi.com/stats/{d[k]}-15-successful-tackles-statistics',
        f'https://www.prokabaddi.com/stats/{d[k]}-95-tackle-points-statistics',
        f'https://www.prokabaddi.com/stats/{d[k]}-99-avg-tackle-points-statistics',
        f'https://www.prokabaddi.com/stats/{d[k]}-134-super-raid-statistics',
        f'https://www.prokabaddi.com/stats/{d[k]}-20-super-tackles-statistics',
        f'https://www.prokabaddi.com/stats/{d[k]}-135-do-or-die-raid-points-statistics',
        f'https://www.prokabaddi.com/stats/{d[k]}-136-all-outs-inflicted-statistics',
        f'https://www.prokabaddi.com/stats/{d[k]}-137-all-outs-conceded-statistics'
    ]   

    # Create a directory for the season if it doesn't exist
    season_dir = f"season_{k}"
    if not os.path.exists(season_dir):
        os.makedirs(season_dir)

    x = 0
    for url in urls:
        x += 1
        df, stat_name = fetch_and_process_data(url)
        if df is not None:
            # Create a file name based on the statistic
            file_name = f"{x}_df_team_season{k}_{stat_name.lower().replace(' ', '-')}.csv"
            
            # Define the full path for the CSV file
            file_path = os.path.join(season_dir, file_name)
            
            # Export the DataFrame to CSV
            df.to_csv(file_path, index=False)
            print(f"Exported {file_path}")
            
            # Display basic information about the DataFrame
            print(f"\nStatistic: {stat_name}")
            print(df.info())
            
            # Display the first few rows
            print(df.head())
            
            # Basic statistics
            print(df.describe())
            
            # Team rankings
            team_rankings = df.sort_values('value', ascending=False)
            print(f"\nTeam rankings by {stat_name}:")
            print(team_rankings[['team_name', 'value', 'match_played']])
            
            # Top 5 teams by points per match
            top_teams_per_match = df.sort_values('points_per_match', ascending=False).head(5)
            print(f"\nTop 5 teams by {stat_name} per match:")
            print(top_teams_per_match[['team_name', 'points_per_match', 'match_played', 'value']])
            
            # Correlation between matches played and the statistic
            correlation = df['match_played'].corr(df['value'])
            print(f"\nCorrelation between matches played and {stat_name}: {correlation:.2f}")
            
            # Calculate league average
            league_avg = df['points_per_match'].mean()
            print(f"\nLeague average {stat_name} per match: {league_avg:.2f}")
            
            # Teams above and below league average
            above_avg = df[df['points_per_match'] > league_avg]
            below_avg = df[df['points_per_match'] <= league_avg]
            
            print("\nTeams above league average:")
            print(above_avg[['team_name', 'points_per_match']])
            
            print("\nTeams below league average:")
            print(below_avg[['team_name', 'points_per_match']])
            
            print("\n" + "="*50 + "\n")
        else:
            print(f"Failed to fetch or process data from {url}")

Exported season_s-7/1_df_team_seasons-7_team-total-points.csv

Statistic: Team Total Points
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   match_played      12 non-null     int64
 1   value             12 non-null     int64
 2   team_id           12 non-null     int64
 3   team_name         12 non-null     object
 4   rank              12 non-null     object
 5   points_per_match  12 non-null     float64
dtypes: float64(1), int64(3), object(2)
memory usage: 704.0+ bytes
None
   match_played  value  team_id          team_name rank  points_per_match
0            24    890        2  Dabang Delhi K.C.    1         37.083333
1            24    868        4    Bengal Warriors    2         36.166667
2            24    868        1    Bengaluru Bulls    3         36.166667
3            23    809       28   Haryana Steelers    4         35.173913
4            24    785        5            U Mumba    5         32.708333
       match_played       value    team_id  points_per_match
count     12.000000   12.000000  12.000000         12.000000
mean      22.833333  771.750000  12.833333         33.742795
std        0.937437   77.678972  12.481501          2.332785
min       22.000000  642.000000   1.000000         29.181818
25%       22.000000  718.750000   3.750000         32.485795
50%       22.500000  772.000000   6.500000         33.648221
75%       24.000000  823.750000  28.250000         35.428030
max       24.000000  890.000000  31.000000         37.083333

Team rankings by Team Total Points:
               team_name  value  match_played
0      Dabang Delhi K.C.    890            24
1        Bengal Warriors    868            24
2        Bengaluru Bulls    868            24
3       Haryana Steelers    809            23
4                U Mumba    785            24
5          Patna Pirates    774            22
6            U.P. Yoddha    770            23
7          Puneri Paltan    744            22
8          Telugu Titans    725            22
9   Jaipur Pink Panthers    700            22
10        Gujarat Giants    686            22
11       Tamil Thalaivas    642            22

Top 5 teams by Team Total Points per match:
           team_name  points_per_match  match_played  value
0  Dabang Delhi K.C.         37.083333            24    890
1    Bengal Warriors         36.166667            24    868
2    Bengaluru Bulls         36.166667            24    868
5      Patna Pirates         35.181818            22    774
3   Haryana Steelers         35.173913            23    809

Correlation between matches played and Team Total Points: 0.85

League average Team Total Points per match: 33.74

Teams above league average:
           team_name  points_per_match
0  Dabang Delhi K.C.         37.083333
1    Bengal Warriors         36.166667
2    Bengaluru Bulls         36.166667
3   Haryana Steelers         35.173913
5      Patna Pirates         35.181818
7      Puneri Paltan         33.818182

Teams below league average:
               team_name  points_per_match
4                U Mumba         32.708333
6            U.P. Yoddha         33.478261
8          Telugu Titans         32.954545
9   Jaipur Pink Panthers         31.818182
10        Gujarat Giants         31.181818
11       Tamil Thalaivas         29.181818

==================================================

KeyError: 'stats' - The 'stats' key is missing or malformed in the data from https://www.prokabaddi.com/stats/11-14-team-raid-statistics. Skipping this URL.
Failed to fetch or process data from https://www.prokabaddi.com/stats/11-14-team-raid-statistics
KeyError: 'stats' - The 'stats' key is missing or malformed in the data from https://www.prokabaddi.com/stats/11-17-team-successful-raid-percent-statistics. Skipping this URL.
Failed to fetch or process data from https://www.prokabaddi.com/stats/11-17-team-successful-raid-percent-statistics
KeyError: 'stats' - The 'stats' key is missing or malformed in the data from https://www.prokabaddi.com/stats/11-18-team-successful-tackles-per-match-statistics. Skipping this URL.
Failed to fetch or process data from https://www.prokabaddi.com/stats/11-18-team-successful-tackles-per-match-statistics
KeyError: 'stats' - The 'stats' key is missing or malformed in the data from https://www.prokabaddi.com/stats/11-19-team-successful-tackle-percent-statistics. Skipping this URL.
Failed to fetch or process data from https://www.prokabaddi.com/stats/11-19-team-successful-tackle-percent-statistics
Exported season_s-7/6_df_team_seasons-7_team-total-points-conceded.csv

Statistic: Team Total Points Conceded
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   match_played      12 non-null     int64
 1   value             12 non-null     int64
 2   team_id           12 non-null     int64
 3   team_name         12 non-null     object
 4   rank              12 non-null     object
 5   points_per_match  12 non-null     float64
dtypes: float64(1), int64(3), object(2)
memory usage: 704.0+ bytes
None
   match_played  value  team_id          team_name rank  points_per_match
0            24    855        1    Bengaluru Bulls    1         35.625000
1            24    823        2  Dabang Delhi K.C.    2         34.291667
2            22    816        7      Puneri Paltan    3         37.090909
3            23    802       28   Haryana Steelers    4         34.869565
4            22    792        8      Telugu Titans    5         36.000000
       match_played       value    team_id  points_per_match
count     12.000000   12.000000  12.000000         12.000000
mean      22.833333  771.750000  12.833333         33.811539
std        0.937437   52.101518  12.481501          2.061935
min       22.000000  668.000000   1.000000         30.363636
25%       22.000000  741.750000   3.750000         32.789773
50%       22.500000  777.000000   6.500000         34.077652
75%       24.000000  805.500000  28.250000         35.058424
max       24.000000  855.000000  31.000000         37.090909

Team rankings by Team Total Points Conceded:
               team_name  value  match_played
0        Bengaluru Bulls    855            24
1      Dabang Delhi K.C.    823            24
2          Puneri Paltan    816            22
3       Haryana Steelers    802            23
4          Telugu Titans    792            22
5        Bengal Warriors    790            24
6            U.P. Yoddha    764            23
7        Tamil Thalaivas    761            22
8          Patna Pirates    745            22
9                U Mumba    732            24
10  Jaipur Pink Panthers    713            22
11        Gujarat Giants    668            22

Top 5 teams by Team Total Points Conceded per match:
          team_name  points_per_match  match_played  value
2     Puneri Paltan         37.090909            22    816
4     Telugu Titans         36.000000            22    792
0   Bengaluru Bulls         35.625000            24    855
3  Haryana Steelers         34.869565            23    802
7   Tamil Thalaivas         34.590909            22    761

Correlation between matches played and Team Total Points Conceded: 0.46

League average Team Total Points Conceded per match: 33.81

Teams above league average:
           team_name  points_per_match
0    Bengaluru Bulls         35.625000
1  Dabang Delhi K.C.         34.291667
2      Puneri Paltan         37.090909
3   Haryana Steelers         34.869565
4      Telugu Titans         36.000000
7    Tamil Thalaivas         34.590909
8      Patna Pirates         33.863636

Teams below league average:
               team_name  points_per_match
5        Bengal Warriors         32.916667
6            U.P. Yoddha         33.217391
9                U Mumba         30.500000
10  Jaipur Pink Panthers         32.409091
11        Gujarat Giants         30.363636

==================================================

Exported season_s-7/7_df_team_seasons-7_team-avg-points-scored.csv

Statistic: Team Avg Points Scored
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   match_played      12 non-null     int64
 1   value             12 non-null     float64
 2   team_id           12 non-null     int64
 3   team_name         12 non-null     object
 4   rank              12 non-null     object
 5   points_per_match  12 non-null     float64
dtypes: float64(2), int64(2), object(2)
memory usage: 704.0+ bytes
None
   match_played  value  team_id          team_name rank  points_per_match
0            24  37.08        2  Dabang Delhi K.C.    1          1.545000
1            24  36.17        4    Bengal Warriors    2          1.507083
2            24  36.17        1    Bengaluru Bulls    3          1.507083
3            22  35.18        6      Patna Pirates    4          1.599091
4            23  35.17       28   Haryana Steelers    5          1.529130
       match_played      value    team_id  points_per_match
count     12.000000  12.000000  12.000000         12.000000
mean      22.833333  33.742500  12.833333          1.477580
std        0.937437   2.333091  12.481501          0.079077
min       22.000000  29.180000   1.000000          1.326364
25%       22.000000  32.487500   3.750000          1.439091
50%       22.500000  33.650000   6.500000          1.502405
75%       24.000000  35.427500  28.250000          1.531166
max       24.000000  37.080000  31.000000          1.599091

Team rankings by Team Avg Points Scored:
               team_name  value  match_played
0      Dabang Delhi K.C.  37.08            24
1        Bengal Warriors  36.17            24
2        Bengaluru Bulls  36.17            24
3          Patna Pirates  35.18            22
4       Haryana Steelers  35.17            23
5          Puneri Paltan  33.82            22
6            U.P. Yoddha  33.48            23
7          Telugu Titans  32.95            22
8                U Mumba  32.71            24
9   Jaipur Pink Panthers  31.82            22
10        Gujarat Giants  31.18            22
11       Tamil Thalaivas  29.18            22

Top 5 teams by Team Avg Points Scored per match:
           team_name  points_per_match  match_played  value
3      Patna Pirates          1.599091            22  35.18
0  Dabang Delhi K.C.          1.545000            24  37.08
5      Puneri Paltan          1.537273            22  33.82
4   Haryana Steelers          1.529130            23  35.17
1    Bengal Warriors          1.507083            24  36.17

Correlation between matches played and Team Avg Points Scored: 0.64

League average Team Avg Points Scored per match: 1.48

Teams above league average:
           team_name  points_per_match
0  Dabang Delhi K.C.          1.545000
1    Bengal Warriors          1.507083
2    Bengaluru Bulls          1.507083
3      Patna Pirates          1.599091
4   Haryana Steelers          1.529130
5      Puneri Paltan          1.537273
7      Telugu Titans          1.497727

Teams below league average:
               team_name  points_per_match
6            U.P. Yoddha          1.455652
8                U Mumba          1.362917
9   Jaipur Pink Panthers          1.446364
10        Gujarat Giants          1.417273
11       Tamil Thalaivas          1.326364

==================================================

Exported season_s-7/8_df_team_seasons-7_team-successful-raids.csv

Statistic: Team Successful Raids
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   match_played      12 non-null     int64
 1   value             12 non-null     int64
 2   team_id           12 non-null     int64
 3   team_name         12 non-null     object
 4   rank              12 non-null     object
 5   points_per_match  12 non-null     float64
dtypes: float64(1), int64(3), object(2)
memory usage: 704.0+ bytes
None
   match_played  value  team_id          team_name rank  points_per_match
0            24    431        2  Dabang Delhi K.C.    1         17.958333
1            24    414        4    Bengal Warriors    2         17.250000
2            24    412        1    Bengaluru Bulls    3         17.166667
3            23    377       28   Haryana Steelers    4         16.391304
4            22    355        8      Telugu Titans    5         16.136364
       match_played       value    team_id  points_per_match
count     12.000000   12.000000  12.000000         12.000000
mean      22.833333  354.833333  12.833333         15.505421
std        0.937437   45.456939  12.481501          1.519710
min       22.000000  295.000000   1.000000         13.409091
25%       22.000000  323.000000   3.750000         14.195652
50%       22.500000  352.000000   6.500000         15.522727
75%       24.000000  385.750000  28.250000         16.585145
max       24.000000  431.000000  31.000000         17.958333

Team rankings by Team Successful Raids:
               team_name  value  match_played
0      Dabang Delhi K.C.    431            24
1        Bengal Warriors    414            24
2        Bengaluru Bulls    412            24
3       Haryana Steelers    377            23
4          Telugu Titans    355            22
5          Patna Pirates    354            22
6                U Mumba    350            24
7          Puneri Paltan    329            22
8            U.P. Yoddha    328            23
9        Tamil Thalaivas    308            22
10        Gujarat Giants    305            22
11  Jaipur Pink Panthers    295            22

Top 5 teams by Team Successful Raids per match:
           team_name  points_per_match  match_played  value
0  Dabang Delhi K.C.         17.958333            24    431
1    Bengal Warriors         17.250000            24    414
2    Bengaluru Bulls         17.166667            24    412
3   Haryana Steelers         16.391304            23    377
4      Telugu Titans         16.136364            22    355

Correlation between matches played and Team Successful Raids: 0.79

League average Team Successful Raids per match: 15.51

Teams above league average:
           team_name  points_per_match
0  Dabang Delhi K.C.         17.958333
1    Bengal Warriors         17.250000
2    Bengaluru Bulls         17.166667
3   Haryana Steelers         16.391304
4      Telugu Titans         16.136364
5      Patna Pirates         16.090909

Teams below league average:
               team_name  points_per_match
6                U Mumba         14.583333
7          Puneri Paltan         14.954545
8            U.P. Yoddha         14.260870
9        Tamil Thalaivas         14.000000
10        Gujarat Giants         13.863636
11  Jaipur Pink Panthers         13.409091

==================================================

Exported season_s-7/9_df_team_seasons-7_team-raid-points.csv

Statistic: Team Raid Points
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   match_played      12 non-null     int64
 1   value             12 non-null     int64
 2   team_id           12 non-null     int64
 3   team_name         12 non-null     object
 4   rank              12 non-null     object
 5   points_per_match  12 non-null     float64
dtypes: float64(1), int64(3), object(2)
memory usage: 704.0+ bytes
None
   match_played  value  team_id          team_name rank  points_per_match
0            24    533        1    Bengaluru Bulls    1         22.208333
1            24    532        2  Dabang Delhi K.C.    2         22.166667
2            24    513        4    Bengal Warriors    3         21.375000
3            23    490       28   Haryana Steelers    4         21.304348
4            22    447        6      Patna Pirates    5         20.318182
       match_played       value    team_id  points_per_match
count     12.000000   12.000000  12.000000         12.000000
mean      22.833333  445.083333  12.833333         19.446805
std        0.937437   58.913586  12.481501          1.989302
min       22.000000  372.000000   1.000000         16.909091
25%       22.000000  402.250000   3.750000         17.679348
50%       22.500000  437.000000   6.500000         19.204545
75%       24.000000  495.750000  28.250000         21.322011
max       24.000000  533.000000  31.000000         22.208333

Team rankings by Team Raid Points:
               team_name  value  match_played
0        Bengaluru Bulls    533            24
1      Dabang Delhi K.C.    532            24
2        Bengal Warriors    513            24
3       Haryana Steelers    490            23
4          Patna Pirates    447            22
5                U Mumba    438            24
6          Telugu Titans    436            22
7          Puneri Paltan    409            22
8            U.P. Yoddha    408            23
9   Jaipur Pink Panthers    385            22
10       Tamil Thalaivas    378            22
11        Gujarat Giants    372            22

Top 5 teams by Team Raid Points per match:
           team_name  points_per_match  match_played  value
0    Bengaluru Bulls         22.208333            24    533
1  Dabang Delhi K.C.         22.166667            24    532
2    Bengal Warriors         21.375000            24    513
3   Haryana Steelers         21.304348            23    490
4      Patna Pirates         20.318182            22    447

Correlation between matches played and Team Raid Points: 0.79

League average Team Raid Points per match: 19.45

Teams above league average:
           team_name  points_per_match
0    Bengaluru Bulls         22.208333
1  Dabang Delhi K.C.         22.166667
2    Bengal Warriors         21.375000
3   Haryana Steelers         21.304348
4      Patna Pirates         20.318182
6      Telugu Titans         19.818182

Teams below league average:
               team_name  points_per_match
5                U Mumba         18.250000
7          Puneri Paltan         18.590909
8            U.P. Yoddha         17.739130
9   Jaipur Pink Panthers         17.500000
10       Tamil Thalaivas         17.181818
11        Gujarat Giants         16.909091

==================================================

Exported season_s-7/10_df_team_seasons-7_team-average-raid-points.csv

Statistic: Team Average Raid Points
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   match_played      12 non-null     int64
 1   value             12 non-null     float64
 2   team_id           12 non-null     int64
 3   team_name         12 non-null     object
 4   rank              12 non-null     object
 5   points_per_match  12 non-null     float64
dtypes: float64(2), int64(2), object(2)
memory usage: 704.0+ bytes
None
   match_played  value  team_id          team_name rank  points_per_match
0            24  22.21        1    Bengaluru Bulls    1          0.925417
1            24  22.17        2  Dabang Delhi K.C.    2          0.923750
2            24  21.38        4    Bengal Warriors    3          0.890833
3            23  21.30       28   Haryana Steelers    4          0.926087
4            22  20.32        6      Patna Pirates    5          0.923636
       match_played      value    team_id  points_per_match
count     12.000000  12.000000  12.000000         12.000000
mean      22.833333  19.447500  12.833333          0.851029
std        0.937437   1.990154  12.481501          0.070837
min       22.000000  16.910000   1.000000          0.760417
25%       22.000000  17.680000   3.750000          0.778508